<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>colocando a mão na massa para usar o position</title>
    <style>
        #div1 {
            background-color: rgba(255, 0, 0, 0.5);
            padding: 10px;
            width: 50%;
            position: sticky;
            height: 200px;
            top: 0px;
            bottom:0px;
        }
        #div2 {
            background-color: rgba(0, 255, 0, .5);
            padding: 10px;
            width: 80%;
            height: 50px;
            position: static;

        }
        #div3{
            background-color: rgba(0, 0 , 255, .5);
            padding: 10px;
            width: 30px;
            height: 30px;
            position: static;
            bottom: 20px;
            right: 0px;
        }
    </style>
</head>
<body>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo nemo laudantium maiores voluptas sunt nisi impedit, beatae debitis sed itaque? Repellendus fugiat distinctio animi inventore assumenda optio ad, itaque error, nihil tempora illo perspiciatis in voluptatibus officia eaque nemo vel?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo nemo laudantium maiores voluptas sunt nisi impedit, beatae debitis sed itaque? Repellendus fugiat distinctio animi inventore assumenda optio ad, itaque error, nihil tempora illo perspiciatis in voluptatibus officia eaque nemo vel?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo nemo laudantium maiores voluptas sunt nisi impedit, beatae debitis sed itaque? Repellendus fugiat distinctio animi inventore assumenda optio ad, itaque error, nihil tempora illo perspiciatis in voluptatibus officia eaque nemo vel?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo nemo laudantium maiores voluptas sunt nisi impedit, beatae debitis sed itaque? Repellendus fugiat distinctio animi inventore assumenda optio ad, itaque error, nihil tempora illo perspiciatis in voluptatibus officia eaque nemo vel?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo nemo laudantium maiores voluptas sunt nisi impedit, beatae debitis sed itaque? Repellendus fugiat distinctio animi inventore assumenda optio ad, itaque error, nihil tempora illo perspiciatis in voluptatibus officia eaque nemo vel?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo nemo laudantium maiores voluptas sunt nisi impedit, beatae debitis sed itaque? Repellendus fugiat distinctio animi inventore assumenda optio ad, itaque error, nihil tempora illo perspiciatis in voluptatibus officia eaque nemo vel?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo nemo laudantium maiores voluptas sunt nisi impedit, beatae debitis sed itaque? Repellendus fugiat distinctio animi inventore assumenda optio ad, itaque error, nihil tempora illo perspiciatis in voluptatibus officia eaque nemo vel?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo nemo laudantium maiores voluptas sunt nisi impedit, beatae debitis sed itaque? Repellendus fugiat distinctio animi inventore assumenda optio ad, itaque error, nihil tempora illo perspiciatis in voluptatibus officia eaque nemo vel?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo nemo laudantium maiores voluptas sunt nisi impedit, beatae debitis sed itaque? Repellendus fugiat distinctio animi inventore assumenda optio ad, itaque error, nihil tempora illo perspiciatis in voluptatibus officia eaque nemo vel?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo nemo laudantium maiores voluptas sunt nisi impedit, beatae debitis sed itaque? Repellendus fugiat distinctio animi inventore assumenda optio ad, itaque error, nihil tempora illo perspiciatis in voluptatibus officia eaque nemo vel?</p>
    <div id="div1"> 1
        <div id="div2"> 2
            <div id="div3">div3</div>
        </div>
    </div>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa eos praesentium laboriosam quibusdam nostrum cum iure sed, hic dignissimos quisquam pariatur ex! Provident fugiat non ut vel quaerat est ipsam.</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa eos praesentium laboriosam quibusdam nostrum cum iure sed, hic dignissimos quisquam pariatur ex! Provident fugiat non ut vel quaerat est ipsam.</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa eos praesentium laboriosam quibusdam nostrum cum iure sed, hic dignissimos quisquam pariatur ex! Provident fugiat non ut vel quaerat est ipsam.</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa eos praesentium laboriosam quibusdam nostrum cum iure sed, hic dignissimos quisquam pariatur ex! Provident fugiat non ut vel quaerat est ipsam.</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa eos praesentium laboriosam quibusdam nostrum cum iure sed, hic dignissimos quisquam pariatur ex! Provident fugiat non ut vel quaerat est ipsam.</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa eos praesentium laboriosam quibusdam nostrum cum iure sed, hic dignissimos quisquam pariatur ex! Provident fugiat non ut vel quaerat est ipsam.</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa eos praesentium laboriosam quibusdam nostrum cum iure sed, hic dignissimos quisquam pariatur ex! Provident fugiat non ut vel quaerat est ipsam.</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa eos praesentium laboriosam quibusdam nostrum cum iure sed, hic dignissimos quisquam pariatur ex! Provident fugiat non ut vel quaerat est ipsam.</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa eos praesentium laboriosam quibusdam nostrum cum iure sed, hic dignissimos quisquam pariatur ex! Provident fugiat non ut vel quaerat est ipsam.</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa eos praesentium laboriosam quibusdam nostrum cum iure sed, hic dignissimos quisquam pariatur ex! Provident fugiat non ut vel quaerat est ipsam.</p>
    
</body>
</html>